<div id="container">
  <h1 id="title">{{title}}</h1>

  <div id="orbSelection">
    <label><input type="radio" name="orbtype" value="Mega" checked="checked"/>Mega</label>
    <label><input type="radio" name="orbtype" value="Premium"/>               Premium</label>
    <label><input type="radio" name="orbtype" value="Ultimus"/>               Ultimus</label>
  </div>

  <div id="dropzone">
    <div id="prize">
      <div id="char-image"></div>
      <p id="char-name"></p>
      <p id="shard-amt"></p>
    </div>
  </div>

  <button id="openOrb" type="submit">Open</button>
  <div id="stats">
    <h3>History</h3>
    <button id="clear">Clear History</button>
    <div id="counters"></div>
  </div>
  <div id="chestbox"></div>
</div>
