<div id="container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <div id="orbSelection">
    <input type="radio" name="orbtype" value="mega" checked="checked"/>Mega
    <input type="radio" name="orbtype" value="premium"/>               Premium
    <input type="radio" name="orbtype" value="redstar"/>               Red Star
  </div>

  <div id="dropzone">
    <div id="char-image"></div>
    <p id="char-name"></p>
    <p id="shard-amt"></p>
  </div>

  <button id="openOrb" type="submit">Open</button>

  <h3>History</h3>
  <p>Orbs Opened: <span id="orbCount">0</span></p>
  <div id="chestbox">

  </div>
</div>
