<div id="title">
  <h1><span>MARVEL STRIKE FORCE</span> Orb Opening Simulator</h1>
</div>

<div id="container">
  <div id="orbSelection" class="bluebox">
    <label><input type="radio" name="orbtype" value="Mega" checked="checked"/>Mega</label>
    <label><input type="radio" name="orbtype" value="Premium"/>               Premium</label>
    <label><input type="radio" name="orbtype" value="Ultimus"/>               Ultimus</label>
  </div>

  <div id="dropzone">
    <div id="prize">
      <div id="char-image"></div>
      <div id="char-name"></div>
      <div id="shard-amt"></div>
    </div>
  </div>

  <div id="inputSection">

    <label>Number of Orbs: </label>
    <input type="range" min="1" max="25" value="1" id="slider" class="slider">
    <span id="simAmt" class="slider">1</span>

    <button id="openOrb" type="submit">OPEN</button>
  </div>

  <div id="stats" class="bluebox">
    <h3>HISTORY</h3>
    <button id="clear">CLEAR HISTORY</button>
    <div id="counters"></div>
  </div>
  <div id="chestbox" class="bluebox"></div>

  <div id="footer">
    <p>All images are Copyright &copy; FoxNext Games. This site is not affiliated with Marvel or FoxNext Games.</p>
  </div>
</div>
