<div id="title">
  <h1><span>MARVEL STRIKE FORCE</span> Orb Opening Simulator</h1>
</div>

<div id="container">
  <div id="orbSelection" class="bluebox">
    <label><input type="radio" name="orbtype" value="Mega" checked="checked"/>Mega</label>
    <label><input type="radio" name="orbtype" value="Premium"/>               Premium</label>
    <label><input type="radio" name="orbtype" value="Ultimus"/>               Ultimus</label>
  </div>

  <div id="dropzone">
    <div id="prize">
      <div id="char-image"></div>
      <div id="char-name"></div>
      <div id="shard-amt"></div>
    </div>
  </div>

  <button id="openOrb" type="submit">OPEN</button>
  <div id="stats" class="bluebox">
    <h3>HISTORY</h3>
    <button id="clear">CLEAR HISTORY</button>
    <div id="counters"></div>
  </div>
  <div id="chestbox" class="bluebox"></div>
  <div>
    <p>put some legal stuff here</p>
  </div>
</div>
