<div id="container">
  <h1 id="title">{{title}}</h1>

  <div id="orbSelection">
    <label><input type="radio" name="orbtype" value="mega" checked="checked"/>Mega</label>
    <label><input type="radio" name="orbtype" value="premium"/>               Premium</label>
    <label><input type="radio" name="orbtype" value="ultimus"/>               Ultimus</label>
  </div>

  <div id="dropzone">
    <div id="prize">
      <div id="char-image"></div>
      <p id="char-name"></p>
      <p id="shard-amt"></p>
    </div>
  </div>

  <button id="openOrb" type="submit">Open</button>

  <h3>History</h3>
  <p>Orbs Opened: <span id="orbCount">0</span></p>
  <div id="chestbox">

  </div>
</div>
