html {
  height: 100%;
  background:
    linear-gradient(330deg, rgba(0,51,153, .7), rgba(255,0,0,0) 60%),
    linear-gradient(180deg, rgba(204,204,102,.4), rgba(0,0,255,0) 100%),
    linear-gradient(50deg, rgba(102,51,153,1), rgba(0,255,0,0) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
  font: 14px 'Exo', sans-serif;
  color: white;
}

#title{
  text-align: center;
  font-style: italic;
}

#container{
  width: 810px;
  margin: 0 auto;
}

#orbSelection{
  width: 120px;
  float: left;
}

#orbSelection > label{
  display: block;
}

#char-image{
  height: 110px;
  overflow: hidden;
}

#char-image > img {
  margin-top: -554px;
}

#dropzone{
  height: 192px;
  width: 684px;
  border: medium solid #CCCCCC;
  background-image: url("/images/orb_bg.jpg");
  margin-left: 120px;
}

#prize{
  text-align: center;
  font-weight: bold;
  color: white;
}

button{
  background-color: orange;
  color: white;
  font-weight: bold;
}

#openOrb{
  float: right;
	height: 50px;
	width: 200px;
  margin-top: 15px;
}

#openOrb:disabled{
  background-color: grey;
}

#stats{
  float: left;
  margin-top: 70px;
}

#chestbox{
  width: 684px;
  margin-left: 120px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.historic-image{
  height: 110px;
  overflow: hidden;
}

.historic-image > img {
  margin-top: -554px;
}

.historicDrop{
  overflow: hidden;
  height: 165px;
  text-align: center;
  color: white;
  font-weight: bold;
}
