body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container{
  background-color: #CCDBFE;
  width: 800px;
}

#orbSelection{
  border: medium solid black;
  background-color: #F189FE;
}

#char-image{
  height: 115px;
  background-repeat:no-repeat;
}

#dropzone{
  border: medium dotted blue;
  background-color: #3CA3F8;
}

#chestbox{
  border: medium solid red;
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.historicDrop{
  border: medium dotted black;
  /* background-color: #FEAA9A; */
  /* background-position-y: 111px; */
  background-repeat:no-repeat;
  height: 111px;
  /* width: 90px; */
  text-align: center;
  color: white;
  font-weight: bold;
}
